<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Compress and reduce the size of your files online. Securely upload your files and get optimized versions with ReducePNG.com."
    />
    <title>File Compression - ReducePNG.com | Compress Files Online</title>
    <link rel="icon" href="/static/reducepng.png" type="image/png" />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1759424972572588"
      crossorigin="anonymous"
    ></script>
    <meta
      name="keywords"
      content="file compression, compress files, reduce file size, file optimization, image compression, optimize images, online compression, ReducedPNG.com"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="w-full max-w-md">
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <h1 class="font-bold text-2xl mb-2 text-gray-700">
            Download your file
          </h1>
          <p class="text-gray-600 text-sm">
            Your file has been successfully compressed.
          </p>
        </div>
        <div id="spinner" class="spinner hidden"></div>
        <div class="mb-6">
          <a
            href="{{ url_for('download_file', filename=filename) }}"
            class="block bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full text-center"
          >
            Download
          </a>
        </div>
        <div class="flex items-center justify-between">
          <a
            href="/"
            class="block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full text-center"
          >
            Upload More Files
          </a>
        </div>
      </div>
      <p class="text-center text-gray-500 text-xs">
        &copy;2023 ReducePNG.com. All rights reserved.
        <a
          href="https://github.com/MasterCryptoLord/ReducePNG"
          target="_blank"
          style="text-decoration: underline"
          >Open Source</a
        >.
      </p>
    </div>
  </body>
</html>
